body{
    background-image: url("./potImgs/potBG2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#ship{
    width:600px;
    height: 600px;
    position: fixed;
    top: auto;
    bottom: 50px;
}

button{
    font-family:fantasy;
    font-size: 36;
    text-align: center;
    color: black;
    background-color: gold;
    border: 5px;
    border-style: ridge;
    border-color: black;
    border-radius: 20px;
    width: 150px;
    font-weight: bolder;
    margin-right: 20px;
    margin-top: 20px;

}

#startmenu{
    margin-left: 75%;
    text-align: center;
    padding: 5px;
}

#htp{
    padding: 10px;
    font-family:cursive;
    font-size: 18;
    text-align: center;
    color: black;
    background-color: gold;
    border: 5px;
    border-style: ridge;
    border-color: black;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 20px;
    width: 300px;
    font-weight: bold;
}

.logo{
    margin-top:585px;
    position: absolute;
    font-family:fantasy;
    text-align: center;
    color:whitesmoke;
    width: 190px;
}
.logotext{
    font-weight: 100;
    padding: 4px;
    position: absolute;
    top: 100px;
    border-style: inset;
    border: 2px;
    background-color: black;

}
.flag{
    width: 150px;
    height: 120px;
}

#score{
    position: fixed;
    margin-right: 0px;
    padding-left: 500px;
    top:55px;
    color: whitesmoke;
    font-family:fantasy;
    font-size: 30;
}

.bomb1{
    margin-left: 99%;
     margin-top: 100px;
    position: absolute;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    border: 2px;
    font-size: 24;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}

.bomb2{
    margin-left: 99%;
    margin-top: 250px;
    position: absolute;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    border: 2px;
    font-size: 24;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}
.bomb3{
    margin-left: 99%;
    margin-top: 400px;
    position: absolute;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    border: 2px;
    font-size: 24;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 15px;
    width: 30px;
    height: 30px;
}