body{
    background-image: url("./avgImgs/Space.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.hero{
    height: 90px;
    width: 85px;
    position: absolute;
}

.villain{
    height: 90px;
    width: 85px;
    position: absolute;
}

label{
    color: white;
    font-size: 24;
    margin-right: 200px;
    font-family: fantasy;
}

#GameBar{
    position: fixed;
    top:95%;
    padding-left: 20px;
}

#ship{
    width: 250px;
    height: 120px;
    left: 650px;
    position: absolute;
    top:78%;
}


p{
  
    color: white;
    font-size: 24;
    font-family: fantasy;
    text-shadow: 1px black;
}

#start{
    opacity: 80%;
    background-color: rebeccapurple;
    width: 200px;
    font-family: fantasy;
    font-size: 28;
    color: white;
    border-radius: 5px;
    border-color:darkorange;
}

